language: python

cache: pip

python:
- "3.6"

install:
  - sudo apt-get update

  # Install an updated gcc
  - sudo apt-get install build-essential software-properties-common -y
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update
  - sudo apt-get install gcc-snapshot -y
  - sudo apt-get update
  - sudo apt-get install gcc-7 -y

  # - sudo update-alternatives --remove-all gcc 
  # - sudo update-alternatives --set gcc /usr/bin/gcc-7

  # - alias gcc="gcc-7"
  - CC="gcc-7"

  # Install GSL
  - sudo apt-get install libgsl0-dev -y

  # Install the dependencies and the package:
  - git clone https://github.com/tmcclintock/cluster_toolkit.git ; export LIBRARY_PATH=/home/travis/virtualenv/python3.6.3/lib/; cd cluster_toolkit ; python setup.py install ; cd -
  - pip install -r requirements.txt
  - python setup.py install

  # Finally get set up to build the docs:
  - pip install sphinx==2.1.2
  - pip install sphinx_rtd_theme

script:

  # Run the unit tests:
  - py.test --ignore=tests/crypt/ --ignore=cluster_toolkit/tests

  # Run the docs:
  - sphinx-quickstart -a "travis" -p clmm -v 0.0.1 --ext-autodoc -q
  - make -C docs/ html
