name: Build and Check

on: pull_request

jobs:
  build-gcc-ubuntu:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
    - name: Install prereq using conda
      run: |
        conda install -c conda-forge gobject-introspection pygobject -y
        echo "$CONDA/bin" >> $PATH
    - name: Install prereq using pip
      run: |
        pip install -r requirements.txt
    - name: Install the package
      run: |
        python setup.py install
    - name: Install NumCosmo from conda-forge
      run: |
        conda install -c conda-forge numcosmo -y
    - name: Install cluster_toolkit from source
      run: |
        git clone https://github.com/tmcclintock/cluster_toolkit.git
        cd cluster_toolkit
        python setup.py install
    - name: Install CCL from conda-forge
      run: |
        conda install -c conda-forge pyccl -y
    - name: Run the unit tests
      run: |
        pip install pytest pytest-cov
        pytest tests/ --ignore=cluster_toolkit/tests --cov=clmm/
      env:
        DISPLAY: test
    - name: Install Sphinx prereq
      run: |
        pip install sphinx_rtd_theme -U
    - name: Run the docs
      run: |
        sphinx-apidoc --separate --no-toc -f -M -o api ./clmm
        sphinx-build -M html  "./docs" "./docs/_build" -W
    - name: Coveralls
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        pip install coveralls
        python -m coveralls --service=github
