name: Build and Check Minimum

on: pull_request

jobs:
  build-gcc-ubuntu:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: 3.6.2
    - name: Install prereq using conda
      run: |
        conda install -c conda-forge gobject-introspection pygobject -y --no-update-deps
        echo "$CONDA/bin" >> $GITHUB_PATH
    - name: Install prereq using pip
      run: |
        pip install numpy==1.17 scipy==1.3 astropy==4.0 matplotlib
    - name: Install the package
      run: |
        python setup.py install
    - name: Install NumCosmo from conda-forge
      run: |
        conda install -c conda-forge numcosmo -y --no-update-deps
    - name: Install cluster_toolkit from source
      run: |
        git clone https://github.com/tmcclintock/cluster_toolkit.git
        cd cluster_toolkit
        python setup.py install
    - name: Install CCL from source
      run: |
        conda install -c conda-forge cmake swig -y --no-update-deps
        git clone https://github.com/LSSTDESC/CCL
        cd CCL
        python setup.py install
    - name: Run the unit tests
      run: |
        pip install pytest pytest-cov
        pytest tests/ --ignore=cluster_toolkit/tests --cov=clmm/
      env:
        DISPLAY: test
    - name: Install Sphinx prereq
      run: |
        conda install sphinx sphinx_rtd_theme nbconvert pandoc ipython --no-update-deps
    - name: Run the docs
      run: |
        make -C docs/ html
    - name: Coveralls
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        pip install coveralls
        python -m coveralls --service=github
