name: Build and Check

on:
  push:
    branches:
      - main
      - '*/GH_Actions'
  pull_request:

jobs:
  build-gcc-ubuntu:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: 'py38_4.12.0'
    - name: Install prereq using conda
      run: |
        conda info
        conda install -c conda-forge gobject-introspection pygobject python_abi=3.9=3_cp39 cffi=1.15.1
        echo "$CONDA/bin" >> $GITHUB_PATH
    - name: Install prereq using pip
      run: |
        pip install -r requirements.txt
    - name: Install the package
      run: |
        pip install .
    - name: Install NumCosmo from conda-forge
      run: |
        conda install -c conda-forge numcosmo
    - name: Install cluster_toolkit from source
      run: |
        git clone https://github.com/tmcclintock/cluster_toolkit.git
        cd cluster_toolkit
        pip install .
    - name: Install CCL from source
      run: |
        conda install -c conda-forge cmake swig
        git clone https://github.com/LSSTDESC/CCL
        cd CCL
        pip install .
    - name: Run the unit tests
      run: |
        pip install pytest pytest-cov
        pytest tests/ --ignore=cluster_toolkit/tests --cov=clmm/
      env:
        DISPLAY: test
    - name: Install Sphinx prereq
      run: |
        conda install sphinx sphinx_rtd_theme nbconvert pandoc ipython ipython_genutils
    - name: Run the docs
      run: |
        make -C docs/ html
    - name: Coveralls
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        pip install coveralls
        coveralls --service=github
