name: Build and Check

on: pull_request

jobs:
  build-gcc-ubuntu:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
    - name: Install prereq using pip
      run: |
        sudo pip3 install -r requirements.txt
    - name: Install the package
      run: |
        sudo python3 setup.py install
    - name: Install NumCosmo from conda-forge
      run: |
        conda install -c conda-forge numcosmo -y
    - name: Install cluster_toolkit from source
      run: |
        git clone https://github.com/tmcclintock/cluster_toolkit.git
        cd cluster_toolkit
        sudo python3 setup.py install
    - name: Install CCL from source
      run: |
        git clone https://github.com/LSSTDESC/CCL
        cd CCL
        sudo python3 setup.py install
    - name: Run the unit tests
      run: |
        pytest-3 tests/ --ignore=cluster_toolkit/tests --cov=clmm/
      env:
        DISPLAY: test
    - name: Install Sphinx prereq
      run: |
        sudo pip3 install sphinx_rtd_theme -U
    - name: Run the docs
      run: |
        make -C docs/ html
    - name: Coveralls
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        sudo pip3 install coveralls
        coveralls --service=github
