name: Build and Check

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-gcc-ubuntu:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          channels: conda-forge
          channel-priority: strict
          mamba-version: "*"
          activate-environment: clmm
          environment-file: environment.yml
      - name: Install the package
        shell: bash -l {0}
        run: |
          pip install .
      - name: Install CCL from source
        shell: bash -l {0}
        run: |
          git clone https://github.com/LSSTDESC/CCL
          cd CCL
          pip install .
      - name: Analysing the code formatting with black
        shell: bash -l {0}
        run: |
          pip install black black-configparser
          black --check --diff clmm
      - name: Analysing the code import order with isort
        shell: bash -l {0}
        run: |
          pip install isort
          isort --check --diff clmm
      - name: Analysing the code with pylint
        shell: bash -l {0}
        run: |
          pip install pylint
          pylint clmm --ignored-classes=astropy.units
      - name: Run the docs
        shell: bash -l {0}
        run: |
          make -C docs/ html
      - name: Run the unit tests
        shell: bash -l {0}
        run: |
          pip install pytest pytest-cov
          pytest tests/ --ignore=cluster_toolkit/tests --cov=clmm/
        env:
          DISPLAY: test
      - name: Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash -l {0}
        run: |
          pip install coveralls
          coveralls --service=github
